

  
<div class="wrapper">
  <div class="logo">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOSzP3Xr_WjSeA5ruZ3gHTC677KeOE-OWrlw&usqp=CAU" class="logo" alt="">
  </div>
  <div class="text-center mt-4 name">
      A-M-K
  </div>
  <form class="p-3 mt-3" action="/admin/loginAction" method="post">
      <div class="form-field d-flex align-items-center">
          <span class="far fa-user"></span>
          <input type="text" id="userid"  name="username"  onkeydown="validation()" id="username" placeholder="Username">
      </div>
      <span id="usernameError"></span>
      <div class="form-field d-flex align-items-center">
          <span class="fas fa-key"></span>
          <input type="password" id="password" name="password"   placeholder="Password">
      </div>
      <span id="passwordError"></span>
      
      <div><h6 class="text-danger"> </h6></div>
     
      <input type="submit"  class="btn mt-3">Login</button>
      
  </form>
  <div class="text-center fs-6">
      &#169 Anurag MK 
  </div>
</div>

<script>

  function validation(){
   var username=document.getElementById('username').value
   var password=document.getElementById('password').value



 
    if(username==""){
      document.getElementById('usernameError').innerHTML = 'invalid username';
      return true;


    }else if(username.length>0){
      document.getElementById('usernameError').innerHTML = '';

    } if(password==''){
      document.getElementById('passwordError').innerHTML = 'invalid password';

    } else if(password.length>0){
      document.getElementById('passwordError').innerHTML = 'invalid password';

    }
  }
</script>